.trip {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-abbgrey-50);
  }
  
  .info {
    padding: 0.5rem 1rem 0 1rem;
  }
  
  .info p {
    margin: 0;
    font-size: 0.75rem;
  }
  
  .image {
    position: relative;
    height: 15rem;
  }
  
  .trip img {
    object-fit: cover;
  }

  .trip p {
    color: var(--color-abbgrey-100);

  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: var(--color-abbgrey-400);
  }
  
  .summary {
    padding: 1rem 1rem 0 1rem;
  }
  