.trips {
    width: 90%;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 0;
    grid-gap: 5rem;
    margin: 1rem auto;
    list-style: none;
  }