@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  --color-grey-50: #FFFFFF;
  --color-grey-100: #F7F7F7;
  --color-grey-200: #FFF8F6;
  --color-grey-300: #DDDDDD;
  --color-grey-400: #B0B0B0;
  --color-grey-500: #717171;
  --color-grey-800: #222222;
  --color-grey-900: #000000;

  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #FF385C;
  --color-primary-600:  linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  --color-primary-700: #460479;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-50);
}

p {
  color: var(--color-grey-800);
  font-size: var(--size-3);
}

.header-background {
  position: absolute;
  width: 100%;
  height: 320px;
  top: 0;
  left: 0;
  z-index: -1;
}

.error,
.not-found {
  margin-top: 5rem;
  text-align: center;
}

.error h2,
.not-found h2 {
  font-size: 2rem;
  margin: 0px;
  font-weight: 900;
  color: var( --color-grey-400);
  text-transform: uppercase;
  background: var(--color-primary-600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.error p, 
.not-found p {
  font-size: .75rem;
  font-weight: 500;
  color: var(--color-grey-400);
}

.error button {
  border: 0;
  padding: 0.75rem 2rem;
  background: var(--color-grey-100);
  border: none;
  color: var(--color-grey-400);
  border-radius: 10px;
  cursor: pointer;
  font: inherit;
  font-size: .75rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.error button:hover,
.error button:focus {
  background: var(--color-grey-50);
}

.not-found a {
  text-decoration: none;
  color: var(--color-grey-400);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: .75rem;
  
}

.not-found a:hover,
.not-found a:focus {
  color:   --color-grey-800;
  text-shadow: 0 0 18px rgba(52, 52, 52, 0.8);
}