.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
  
  .header h1 {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .logo {
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  .logo p { 
    font-size: 1.3rem;

  }

  .highlight {
    background: var(--color-grey-800); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
}


  .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: .75rem;
      font-size: .75rem;
    }
    
    .nav a {
        text-decoration: none;
        color: var(--color-grey-400);
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    
    .nav a:hover,
    .nav a:active {
        color:   --color-grey-800;
        text-shadow: 0 0 18px rgba(52, 52, 52, 0.8);
    }
    
    @media (min-width: 768px) {
      .header {
        padding: 2rem 10%;
      }
    }