.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
  
  
  .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: .75rem;
      font-size: .75rem;
    }
    
    .nav a {
        text-decoration: none;
        color: var(--color-grey-400);
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    
    .nav a:hover,
    .nav a:active {
        color:   --color-grey-800;
        text-shadow: 0 0 18px rgba(52, 52, 52, 0.8);
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    .logo img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
    }
    
    @media (min-width: 768px) {
      .header {
        padding: 2rem 10%;
      }
    }