
.header {
    gap: 3rem;
    margin: 1rem auto 3rem auto;
    width: 90%;
    max-width: 75rem;
}

.header span {
    background: var(--color-primary-600); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header p {
    color: var(--color-grey-400);
    font-size: .75rem;

}

.main {
    width: 90%;
    max-width: 75rem;
    margin: 2rem auto;
}

.form {
    max-width: 50rem;
}

.form label {
    display: block;
    margin-bottom: .05rem;
    color: var(--color-grey-400);
    font-weight: bold;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-grey-400);
    border-radius: 0.3rem;
    background: var(--color-grey-100);
    color: var(--color-grey-400);
    font-size: .75rem;
}

.form input:focus,
.form textarea:focus {
    outline-color: var(--color-grey-300);
    background-color:var(--color-grey-50);
}
.rows {
    display: flex;
    gap: 1rem;
}

.rows p {
    width: 100%;
}

.submit {
    text-align: right;
}

.submit button {
    border: 0;
    padding: 0.75rem 2rem;
    background: var(--color-grey-100);
    border: none;
    color: var(--color-grey-400);
    border-radius: 10px;
    cursor: pointer;
    font: inherit;
    font-size: .75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
  }

  .submit button:hover,
  .submit button:focus {
    background: var(--color-grey-50);
  }